:root{
    --ff :'DM Sans', sans-serif;
    --h1 : bold 54px/64px var(--ff);
    --h2 : light 27px/54px var(--ff);
    --primary_1 : rgba(20, 20, 20, 1.0);
    --primary_2 : rgba(60, 60, 60, 0.8);
    --primary_3 : rgba(100, 100, 100, 0.5);
    --primary_4 : rgba(70, 70, 70, 0.8);
    --secondary_1 : rgba(228, 238, 228, 1.0);
    --secondary_2 : rgba(202, 212, 202, 0.8);
    --secondary_3 : rgba(195, 202, 195, 0.8);
    --text_clr : rgba(235, 235, 240, 0.9);
    --accent_1 : rgba(39, 74, 151, 0.8);
    --accent_2 : rgb(23, 138, 23);
}

*{
    margin: 0;
    font-family: var(--ff);

}

body{
    background-color: var(--primary_1);
    color: var(--text_clr);

}
.Header {
    font: var(--h1);
}

.container{ /* property stuff */
    display: flex;
    flex-direction: column;
    background-color: var(--primary_2);
}

.container{ /* size and position stuff */
    margin : 10px;
    width: fit-content;
    padding: 24px;
}
.sub_container{
    background-color: var(--primary_3);
    margin-bottom: 2em;
    padding: clamp(16px, 2.5rem, 24px);
    align-items: center;
}

.btn{
    border : none;
    background-color: var(--accent_2);
}
.flex_fit{
    display : flex;
    width : fit-content;
}
.task_li{
    font : var(--h2);
    margin: 20px 0px;

}
.task_ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
}
/* input slot */
.Add_task{
    background-color: var(--primary_3);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: max(16rem,40vw);
    height: 4rem;
}
/* ADD btn */
.TODO_btn{
    border-radius : 1rem;
    margin-left: 1rem ;
    width: min(16rem,40vw);
    height: 4rem;
}
.task{
    width: 100%;
}
.task_li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* toggle in HTML only */
.accent_txt{
    color : var(--accent_1);
}
.bg_accent_1{
    background-color: var(--accent_1);
}
.bg_accent_2{
    background-color: var(--accent_2);
}
.no_brdr{
    border : none;
}
.sub_container{
    display : flex;
}
.clickable{
    scale: 1.2;
    background-color: var(--primary_2);
    border: 4px solid var(--primary_3);
    padding: 4px 6px;
    transition: color 0.5s ease, background-color 0.5 ease;
}
.clickable:hover{
    border: 4px solid red;
    background-color: white;
    cursor:pointer;
    color: rgb(196, 35, 35) ;
}

